.rules-relation-layer .layui-form-item:first-child{
    margin-top: 15px;
}
.show-only .relation-rules{
    display: none;
}
.rules-relation-layer .layui-input-block{
    width: 320px;
}
.rules-relation-layer .from-label{
    width: 40px;
    line-height: 38px;
    float: left;
    font-weight: 400;
    text-align: right;
    padding-right: 5px;
}
.rules-relation-layer .more-content{
    position: absolute;
    right: -35px;
    top: -12px;
}
.rules-relation-layer .more-content~.layui-input{
    margin-bottom: 5px;
}
.show-only .rules-relation-layer .more-content{
    display: none;
}
.show-only .btns{
    display: none;
}

.relation-rules .layui-input{
    margin-left: 0;
}
.formula-realtion{
    position: relative;
}
.formula-realtion .more-content{
    position: absolute;
    right: 35px;
}
.formula-realtion .layui-input-block{
    margin-bottom: 5px;
}
.layui-input-inline.fromA,.layui-input-inline.toB{
    width: 128px;
    margin-right: 0;
}
