.right-content{

}
.collapse-content{
    height: calc(100% - 80px);
    padding-bottom: 80px;
}
.node-edit-tools{
    width: 225px;
    height: 42px;
    margin: 7px auto 0;
}
.tools-item{
    float: left;
    width: 75px;
    height: 100%;
    line-height: 42px;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    box-sizing: border-box;
}

.pannel-item:last-child{
    border-right: none;
}
